
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.no-data {
    text-align: center;
    padding: 60px;
}

.healthy {
    font-weight: bold;
    color: green !important;
}

.unhealthy {
    font-weight: bold;
    color: red !important;
}
